{% extends "base_admin.html" %}
{% block title %} Noticias {% endblock title %}
{% block content %}
<div class="contact-body">
    <h3 class="h3-body-title">
        Lista de noticias
    </h3>

    <table class="table">
        <thead>
            <tr>
                <th>Fecha de registro</th>
                <th>Título</th>
                <th>Publicado</th>
                <th>Opciones</th>
            </tr>
        </thead>
        <tbody>
            {% for new in object_list %}
            <tr>
                <td>{{ new.creation_time }}</td>
                <td>{{ new.title }}</td>
                <td>{{ new.is_published }}</td>
                <td>
                    <div class="content-box content-style2 small">
                        <a href="{% url 'update_news' new.id %}" class="btn btn-sm btn-blue">Editar</a>
                        <a href="{% url 'delete_news' new.id %}" class="btn btn-sm btn-red">Eliminar</a>
                    </div>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% if is_paginated %}
        <div class="pagination">
            <span class="page-links">
                {% if page_obj.has_previous %}
                    <a href="/noticias?page={{ page_obj.previous_page_number }}"><strong>Anterior</strong></a>
                {% endif %}
                <span class="page-current">
                    Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}.
                </span>
                {% if page_obj.has_next %}
                    <a href="/noticias?page={{ page_obj.next_page_number }}"><strong>Siguiente</strong></a>
                {% endif %}
            </span>
        </div>
    {% endif %}
</div>
{% endblock content %}